<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view
        view-title="{{chat.text}}">

    <ion-header-bar class="bar bar-royal">
        <button class="button button-icon icon ion-chevron-left"></button>
    </ion-header-bar>

    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="/img/ionic.png">

                <h2>叽歪</h2>

                <p>{{chat.createdTime | date: 'yyyy-MM-dd hh:mm:ss'}}</p>
            </div>
            <div class="item item-body">
                <p>{{chat.text}}</p>
                <img ng-src="{{p.picture}}" ng-repeat="p in ChatCourier.getChatValidPictures(chat.pictures)"
                     class="full-image">

                <p>{{chat.pictures}}</p>

                <p>
                    <a href="javascript: void(0);" class="subdued"
                       ng-show="ChatCourier.getChatType(chat) === ChatCourier.ChatType.text">
                        <i class="icon ion-android-textsms"></i>
                        纯文叽歪
                    </a>
                    <a href="javascript: void(0);" class="subdued"
                       ng-show="ChatCourier.getChatType(chat) === ChatCourier.ChatType.link">
                        <i class="icon ion-images"></i>
                        图文叽歪
                    </a>

                    <a ng-href="{{ChatCourier.getMainWordpressLink(chat)}}" class="" target="_blank"
                       ng-if="ChatCourier.getMainWordpressLink(chat)">
                        <i class="icon ion-link"></i>
                        原文链接
                    </a>

                    <a ng-href="#/tab/chats" class="subdued">
                        <i class="icon ion-android-list"></i>
                        叽歪列表
                    </a>

                </p>
            </div>
        </div>

        <ul class="list">
            <li class="item item-divider">
                <i class="icon ion-android-sync"></i>
                同步状态
            </li>
            <li class="item item-checkbox item-icon-right" ng-repeat="w in wordpressAccounts">
                <label class="checkbox">
                    <input type="checkbox" ng-model="publishStatus[w.url]"
                           ng-click="publishToWordpress(w, chat)" ng-disabled="publishStatus[w.url]">
                </label>
                {{w.url}}

                <i class="icon ion-social-wordpress"></i>
            </li>

            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="publishStatus.weibo" ng-click="publish('weibo', chat)" ng-disabled="publishStatus.weibo">
                </label>
                微博
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="publishStatus.qq" ng-click="publish('qq', chat)" ng-disabled="publishStatus.qq">
                </label>
                QQ 空间
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="publishStatus.wechat" ng-click="publish('wechat', chat)" ng-disabled="publishStatus.wechat">
                </label>
                微信
            </li>
        </ul>
    </ion-content>
</ion-view>
