<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.createdTime | date: 'yyyy-MM-dd hh:mm:ss'}}">
    <ion-content>
        <div class="padding">
            <!--<img ng-src="{{chat.face}}" style="width: 64px; height: 64px">-->

            <p>
                {{chat.text}}
            </p>
        </div>

        <div class="padding images">
            <img ng-src="{{p.picture}}" ng-repeat="p in chat.pictures">
        </div>

        <p>同步状态</p>
        <ul class="list">
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="chat.weibo" ng-click="publish('weibo', chat)">
                </label>
                微博
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="chat.qq" ng-click="publish('qq', chat)">
                </label>
                QQ 空间
            </li>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="chat.wechat" ng-click="publish('wechat', chat)">
                </label>
                微信
            </li>
        </ul>
    </ion-content>
</ion-view>
