<ion-view view-title="我的账号">
    <ion-content overflow-scroll="true">
        <ion-list ng-repeat-start="w in wordpressAccounts" ng-show="w.main">
            <ion-item class="item item-divider">
                <i class="icon ion-social-wordpress"></i>
                Wordpress 账号 (可添加多个, 主账号不可删除)
            </ion-item>
        </ion-list>
        <ion-list class="list" ng-repeat-end>
            <ion-item class="item item-button-right">
                wordpress {{$index + 1}}
                <button class="button button-assertive" ng-click="deleteWordpressAccount($index, w)"
                        ng-disabled="w.main" ng-show="!w.main">
                    <i class="icon ion-minus-circled"></i>
                    &nbsp;
                    删除
                </button>
                <button class="button button-royal" ng-click="registerMainWordpress(w)"
                        ng-show="w.main && (!w.username || !w.password)">
                    注册&nbsp; <i class="icon ion-social-wordpress-outline"></i>
                </button>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">
                    {{'链接地址'}}
                    <i class="icon ion-link"></i>
                </span>
                <input type="url" ng-model="w.url" placeholder="URL">
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">
                    {{'用户名\u2001'}}
                    <i class="icon ion-person"></i>
                </span>
                <input type="text" ng-model="w.username" placeholder="用户名">
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">
                    {{'密码\u2001\u2001'}}
                    <i class="icon ion-locked"></i>
                </span>
                <input type="password" ng-model="w.password" placeholder="密码">
            </ion-item>
            <ion-item class="item item-divider">
                <div class="button-bar">
                    <a class="button icon-right ion-log-in">
                        登录
                    </a>
                    <span class="button icon">{{w.info}}</span>
                </div>
            </ion-item>
        </ion-list>

        <button class="button button-block button-positive" ng-click="addWordpressAccounts()">
            添加
        </button>
        <button class="button button-block button-balanced" ng-click="saveWordpressAccounts()">
            保存
        </button>
        <button class="button button-block button-assertive" ng-click="resetWordpressAccounts()"
                ng-show="showResetWordpressButton">
            恢复 Wordpress 设置
        </button>

        <ion-list>
            <ion-item class="item item-divider">
                <i class="icon ion-social-rss"></i>
                社交账号
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-toggle ng-model="settings.bindWeibo" ng-change="toggleWeiboBinding()">
                绑定 微博 账号
            </ion-toggle>
            <ion-toggle ng-model="settings.bindQQ" ng-change="toggleQQBinding()">
                绑定 QQ 账号
            </ion-toggle>
            <ion-toggle ng-model="settings.bindWechat" ng-change="toggleWechatBinding()">绑定 微信 账号</ion-toggle>
        </ion-list>

    </ion-content>
</ion-view>
